#header-inner a img {
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 10px;
    max-width: 80%;
    max-height: 260;
}

#navbar {
    display: none;
    height: 0px;
}

.profile-img {
    border-radius: 30%;
    box-shadow: 3px 3px 3px #888888;
}

.post h2 {
    font-size: 1.3em;
}

code{
    color: #d33682;
    font-family: monospace;
    background: #f7f0dd;
    border-style: solid;
    border-color: #e3e0c3;
    border-width: 1px;
    padding: 0px 5px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 3px;
    overflow: auto;
    position: relative;
    bottom: -5px;
    display: inline-block;
}

.entry-title a:hover {
    text-decoration: underline;
}

.jump-link{
    margin-top: 35px;
}

.jump-link a {
    text-decoration: none;
    font-size: 100%;
    color: #002b36;
    background: rgb(255, 230, 179);
    padding: 10px;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #888888;
}

.jump-link a:hover {
    text-decoration: none;
    color: #073642;
    box-shadow: 1px 1px 1px #aaaaaa;
}


.jump-link a:active {
    text-decoration: none;
    color: #073642;
    box-shadow: 2px 2px 2px #aaaaaa;
}

.jump-link a:visited {
    text-decoration: none;
    font-size: 100%;
    color: #002b36;
    background: rgb(255, 230, 179);
    padding: 10px;
    margin: 50px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px #888888;
}

#blog-pager {
    padding: 10px;
}

#blog-pager a {
    color: #6c71c4;
    background-color: #fdf6e3;
    padding: 5px;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
}


.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #657b83;
}

.hljs-comment,
.hljs-quote {
    color: #93a1a1;
}

/* Solarized Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
    color: #859900;
}

/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
    color: #2aa198;
}

/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    color: #268bd2;
}

/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
    color: #b58900;
}

/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
    color: #cb4b16;
}

/* Solarized Red */
.hljs-built_in,
.hljs-deletion {
    color: #dc322f;
}

.hljs-formula {
    background: #eee8d5;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
